<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/img/NT.jpg">
  <link rel="icon" type="image/png" href="/img/NT.jpg">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    OHLC
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/style.css?v=2.0.1" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.northerntrust.com/" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="/img/NT.jpg">
          </div>
        </a>
        <a href="/dashboard.html" class="simple-text logo-normal">
          OHLC Engine
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <form action="/dashboard" method="get">
              <i class="nc-icon nc-tile-56"></i>
              <button class="btn btn-primary" type="submit" name="button">
                <p>Dashboard</p>
              </button>
            </form>
          </li>
          <li>
            <form action="/history" method="get">
              <i class="nc-icon nc-tile-56"></i>
              <button class="btn btn-primary" type="submit" name="button">
                <p>Search History</p>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form action="/search" method="post">
              <div class="input-group no-border">
                <input class="form-control" type="text" placeholder="Search..." name="mySearch">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit" name="button">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->